* {
  font-family: "Montserrat", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.login-bg {
  background-image: url("./icons/loginBg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.register-bg {
  background-image: url("./icons/registerBg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dashboard-bg {
  background-image: url("./icons/dashboardTwo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebar-bg {
  background-image: url("./icons/sidebarBg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wallet-bg {
  background-image: url("./icons/walletBg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.investment-bg {
  background-image: url("./icons/investmentHeader.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 415px;
}

.target-bg {
  background-image: url("./icons/targetBg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 90px;
  width: 100px; */
}

.atm-bg {
  background-image: url("./icons/atmBg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 182px;
  width: 334px;
}

.form-switch .form-check-input {
  margin-top: 0.1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%22-4 -4 8 8%22%3E%3Ccircle r=%223%22 fill=%22%23fff%22/%3E%3C/svg%3E");
  background-position: 0;
  transition: background-position 0.15s ease-in-out;
}

.form-switch .form-check-input:checked {
  background-position: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%22-4 -4 8 8%22%3E%3Ccircle r=%223%22 fill=%22%23fff%22/%3E%3C/svg%3E");
}

.form-check-input:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.form-switch {
  padding-left: 2.5em;
}

table {
  border-collapse: separate;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 15px;
}

thead th:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

thead th:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 15px;
}

/* date picker styles */
/* .react-datepicker-wrapper {
  background-color: yellow;
  display: flex;rgba(59 88 168/0.2)
} */

.react-datepicker__input-container input {
  background-color: #d5dbed;
  border: none;
  cursor: pointer;
}

input {
  background: transparent;
  outline: none;
  /* border: none; */
}

.slider-wrapper {
  height: 321px;
}

.carousel .slide img {
  /* width: 100%; */
  height: 250px;
  object-fit: cover;
}
