* {
  font-family: "Montserrat", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.login-bg {
  background-image: url("./icons/loginBg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.register-bg {
  background-image: url("./icons/registerBg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dashboard-bg {
  background-image: url("./icons/dashboardTwo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebar-bg {
  background-image: url("./icons/sidebarBg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wallet-bg {
  background-image: url("./icons/walletBg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

table {
  border-collapse: separate;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 15px;
}

thead th:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

thead th:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 15px;
}

/* date picker styles */
/* .react-datepicker-wrapper {
  background-color: yellow;
  display: flex;rgba(59 88 168/0.2)
} */

.react-datepicker__input-container input {
  background-color: #d5dbed;
  border: none;
  cursor: pointer;
}

input {
  background: transparent;
  outline: none;
  border: none;
}
